<div class="row">
  <div class="col-md-6">
    <label for="">Name</label>
    <input type="text" class="form-control" [(ngModel)]="name">
    <label for="">Price</label>
    <input type="text" class="form-control" [(ngModel)]="price">

    <button type="button" [routerLink]="['/products']" [queryParams]="{name: name, price: price }" class="btn btn-primary">Search</button>
    <button type="button" [routerLink]="['/products']" (click)="onSearch()" class="btn btn-primary">Search click</button>
  </div>
</div>
<table class="table table-borderd table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products" [routerLink]="['/product', item.id]">
      <td>{{ item.id }}</td>
      <td>{{ item.name | capitalize }}</td>
      <td>{{ item.price | currency : 'VND': true  }}</td>
      <td>{{ item.status ? 'Active' : 'Deactive' }} </td>
      <td>
        <a href="">Edit</a>
        /
        <a href="">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
