<ng-container *ngIf="product; else noProduct">
  <h1>Name: {{ product.name }}</h1>
  <h2>Price: {{ product.price | currency : 'VND' : true }}</h2>
  <h3>Status: {{ product.status ? 'Active' : 'Deactive'}}</h3>

  <a [routerLink]="['/product/2']">ID 2</a>
</ng-container>

<ng-template #noProduct>
  <h1>San pham k ton tai</h1>
</ng-template>
<hr>
<button type="button" class="btn btn-success" (click)="onEdit()">Edit</button>
<button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>

<hr>
<button type="button" (click)="onBackToList()">back to list</button>
