<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Ten pipe</th>
            <th>Du lieu dau vao</th>
            <th>Ket qua hien thi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>UpperCase</td>
            <td>{{ content }}</td>
            <td>{{ content | lowercase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
