<div class="alert" *ngIf="error == -1">
  <button type="button" class="close"></button>
  <strong>wrong user</strong>
</div>

<form action="">

  <div class="form-group">
    <label for="">Username</label>
    <input type="text" class="form-control" #username>
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <input type="password" class="form-control" #password>
  </div>

  <button type="submit" class="btn btn-primary" (click)="onLogin(username.value, password.value)">Login</button>
</form>

<hr>
<hr>
<hr>
<br>
